*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 50%;
  min-width: 500px;
  margin: auto;
  text-align: center;
  background-color: burlywood;
  border-radius: 20px;
  margin-top: 50px;
}

.container h1{
  padding-top: 20px;
}

.container ul{
  display: inline-block;
  margin-top: 20px;
}

.container ul li{
  text-align: left;
  margin: 20px 0;
}

.btn button{
  padding: 6px;
  border: none;
  border-radius: 6px;
  margin-bottom: 25px;
  margin-top: 15px;
}

button:first-child{
  margin-right: 50px;
}

